@use "mixins";

.header {
    &__toolbar {
        font-weight: var(--font-medium);
        padding: 0;
        color: var(--color-text);
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr auto;
        justify-items: center;
        gap: 5rem;
    }

    &__brand {
        @include mixins.flex(row, center, center, nowrap, 0.5rem);
    }

    &__credits {
        @include mixins.flex(row, center, center, nowrap);
    }

    &__title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-bold);
    }

    & ion-img {
        width: 2rem;
        height: 2rem;
    }
}
