@use "mixins";

.header {
    &__toolbar {
        text-align: center;
        font-weight: var(--font-medium);
        padding: 0;
        color: var(--color-text);
    }

    &__title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-bold);
    }
}
