.footer {
    &__wrapper {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1rem;
        --color: var(--color-text);
        padding: var(--spacing-md);
    }

    &__input {
        --highlight-color-focused: var(--color-primary);
        --highlight-height: 0;
        color: var(--color-text);

        background-color: var(--color-bg-card);
        border-radius: var(--border-radius-lg);
        --padding-start: var(--spacing-md);
        --padding-end: var(--spacing-md);
    }

    &__preview {
        position: relative;
        width: 100%;
        max-width: 350px;
        border-radius: 12px;
        overflow: hidden;
        margin: auto;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        opacity: 0.5;
    }
}
