<app-header title="Ai Assistant" [showBackButton]="true"></app-header>

<ion-content class="chat-resolve-math__content">
    <ion-list class="chat-resolve-math__message-list" [lines]="'none'">
        <ion-item
            *ngFor="let message of messages; trackBy: trackByMessageId"
            class="chat-resolve-math__message-item"
            [ngClass]="'chat-resolve-math__message-item--' + message.sender"
        >
            <ion-avatar *ngIf="message.sender === 'ai'" slot="start" class="chat-resolve-math__avatar">
                <ion-icon class="chat-resolve-math__avatar-icon" [name]="message.avatarIcon!"></ion-icon>
            </ion-avatar>
            <div class="chat-resolve-math__bubble" [ngClass]="'chat-resolve-math__bubble--' + message.sender">
                <p class="chat-resolve-math__bubble-text">{{ message.text }}</p>
                Optional: Timestamp
                <span class="chat-resolve-math__bubble-timestamp"> {{ message.timestamp | date:'shortTime' }} </span>
            </div>
        </ion-item>
    </ion-list>
</ion-content>

<app-footer (onSendMessage)="sendMessage($event)"></app-footer>
