<app-header title="Ai Assistant" [showBackButton]="true"></app-header>

<ion-content class="chat-resolve-math__content">
    <ion-list class="chat-resolve-math__message-list" [lines]="'none'">
        <ion-item
            *ngFor="let message of messages; trackBy: trackByMessageId"
            class="chat-resolve-math__message-item"
            [ngClass]="'chat-resolve-math__message-item--' + message.sender"
        >
            <ion-avatar *ngIf="message.sender === 'ai'" slot="start" class="chat-resolve-math__avatar">
                <ion-icon class="chat-resolve-math__avatar-icon" [name]="message.avatarIcon!"></ion-icon>
            </ion-avatar>
            <div class="chat-resolve-math__bubble" [ngClass]="'chat-resolve-math__bubble--' + message.sender">
                <p class="chat-resolve-math__bubble-text">{{ message.text }}</p>
                Optional: Timestamp
                <span class="chat-resolve-math__bubble-timestamp"> {{ message.timestamp | date:'shortTime' }} </span>
            </div>
        </ion-item>
    </ion-list>
    @if (image) {
    <div class="image-preview-wrapper" *ngIf="image.webPath">
        <ion-img [src]="image.webPath" class="image-preview"></ion-img>
        <ion-button fill="clear" size="small" class="close-button" (click)="image = null">
            <ion-icon name="close-circle" slot="icon-only"></ion-icon>
            <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
    </div>
    }
</ion-content>

<app-footer (onSendMessage)="sendMessage($event)" (onSendImage)="handleImageUpload($event)"></app-footer>
