<app-header [title]="title" [show-back-button]="false"></app-header>

<ion-content [fullscreen]="true" class="home">
    <div class="home__container">
        <!-- Search input -->
        <app-searchbar></app-searchbar>

        <!-- Carrusel de sugerencias -->
        <app-carousel></app-carousel>

        <!-- Plan Premium -->
        <app-plan-premiun></app-plan-premiun>

        <!-- Herramientas disponibles sugeridas-->
        <app-tools></app-tools>
    </div>
</ion-content>

<app-footer></app-footer>
