<section class="tools">
    <h4 class="tools__title">Herramientas para ti</h4>

    <div class="tools__grid">
        @for (item of [1,2,3,4,5]; track $index) {
        <ion-card class="tool-card">
            <div class="tool-card__icon-wrapper tool-card__icon-wrapper--blue">
                <ion-icon name="create-outline" class="tool-card__icon"></ion-icon>
            </div>
            <ion-card-header>
                <ion-card-title>Writing Article</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
        </ion-card>
        }
    </div>

    <div class="tools__grid">
        <div class="tool-card">
            <div class="tool-card__icon-wrapper tool-card__icon-wrapper--blue">
                <ion-icon name="create-outline" class="tool-card__icon"></ion-icon>
            </div>
            <div class="tool-card__content">
                <h3 class="tool-card__title">Writing Article</h3>
                <p class="tool-card__description">Practica con ejercicios interactivos</p>
            </div>
        </div>
        <div class="tool-card">
            <div class="tool-card__icon-wrapper tool-card__icon-wrapper--purple">
                <ion-icon name="chatbubbles-outline" class="tool-card__icon"></ion-icon>
            </div>
            <div class="tool-card__content">
                <h3 class="tool-card__title">Quote & poetry</h3>
                <p class="tool-card__description">Aprende de tus equivocaciones</p>
            </div>
        </div>

        <div class="tool-card">
            <div class="tool-card__icon-wrapper tool-card__icon-wrapper--blue">
                <ion-icon name="image-outline" class="tool-card__icon"></ion-icon>
            </div>
            <div class="tool-card__content">
                <h3 class="tool-card__title">Image & Art</h3>
                <p class="tool-card__description">Generar ideas para tus proyectos</p>
            </div>
        </div>

        <div class="tool-card">
            <div class="tool-card__icon-wrapper tool-card__icon-wrapper--purple">
                <ion-icon name="search-outline" class="tool-card__icon"></ion-icon>
            </div>
            <div class="tool-card__content">
                <h3 class="tool-card__title">Search JS</h3>
                <p class="tool-card__description">Resuelve dudas al instante</p>
            </div>
        </div>
    </div>
</section>
