<section class="tools">
    <div class="tools__header">
        <h4 class="tools__title">Herramientas para ti</h4>
    </div>

    <div class="tools__grid">
        @for (item of [1,2,3,4]; track $index) {
        <div class="card">
            <div class="card__header">
                <div class="card__icon-wrapper">
                    <ion-icon name="create-outline" class="card__icon"></ion-icon>
                </div>
            </div>
            <div class="card__content">
                <h3 class="card__title">Writing Article</h3>
                <p class="card__description">Practica con ejercicios interactivos</p>
            </div>
        </div>
        }
    </div>
</section>
